<div class="container">
    <mat-card class="card-container mat-elevation-z4">
        <h1>
            Categoria
        </h1>
        <div class="card-form ">
            <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput name="titulo" formControlName='name' placeholder="Informe o nome da categoria" required/>
                    <mat-error *ngIf="isRequiredFieldValid('name')">
                        Campo obrigatório
                    </mat-error>
                    <mat-error *ngIf="isMinLengthFieldValid('name')">
                        O nome dever ter no mínimo 2 caracteres
                    </mat-error>
                    <mat-error *ngIf="isMaxLengthFieldValid('name')">
                        O nome dever ter no máximo 50 caracteres
                    </mat-error>
                </mat-form-field>
                <div>
                    <button type="submit" class="button-save" mat-raised-button>
                        Salvar
                    </button>
                    <button type="button" class="button-cancel" mat-raised-button routerLink="/category-list">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </mat-card>
</div>